div{
    margin-top: 3%;
    }

hr{
    width: 90%;
    align-items: flex-start;
    }

h1{
    font-size: 30px;
    font-family: sans-serif;
    color: burlywood;
    margin-left: 90px;
    }

a{
    font-family: sans-serif;
    font-weight: 300;
    margin-left: 90px;
    text-decoration: none;
    }

a:hover{
    color: lightcoral;
    }

p{
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 90px;
    text-decoration: none;
    }