body{
    margin: 0;
    padding: 0;
    background-image: url(image/fondo-1400x860.jpg);
    }

.pagina{
    
}

h1{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-left: 150px;
    margin-top: 100px;
    padding-bottom: 10px;
    }

p{
    font-family: sans-serif;
    padding-left: 150px;
    margin-right: 750px;
    }

#menu{
    margin-left: 800px;
    margin-top: 20px;
}

#menu a{
    padding: 30px;
    font-family: sans-serif;
    text-decoration: none;
    color: darkgrey;  
}
    

.info{
    font-family: sans-serif;
    padding-left: 150px;
    text-decoration: none;
    color: cornflowerblue;
    }

#plan{
    margin-left: 150px;
    padding: 15px;
    background-color: dodgerblue;
    border-radius: 4px;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    }