*{
    
    padding: 0;
    margin: 0;
    
}

header{
    height: 60px;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 100;
    background-color: midnightblue;
    color: white;
    text-align: center;
}

img{
    display: block;
    margin: auto;
    width: auto;
}

#cabecera{
    font-style: italic
}

article{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#primeralinea{
    font-size: 70px;
    text-align: center;
    margin-right: 200px;
    margin-left: 200px;
    font-size: 60px;
    font-weight: 500;
    padding-top: 50px;
}

h2{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    margin-left: 230px;
    margin-right: 230px;
}

p{
    font-family: sans-serif;
    text-align: left;
    margin-left: 420px;
    margin-right: 420px;
    padding-top: 50px;
}
    
#capital::first-letter{
    font-size: 100px;
    font-weight: 900;
}

.subtitulos{
    font-weight: 700;
    font-size: 20px;
    font-family: sans-serif;
    text-align: left;
    margin-left: 420px;
    padding-top: 50px;
}

.otrosparrafos{
    text-align: left;
    margin-left: 420px;
    padding-top: 20px;
}

#banner{
    width: 500px;
    padding-top: 50px;
}

hr{
    width: 500px;
    margin-left: 420px;
}

#imagen{
    width: 100px;
    padding-top: 20px;
}