body {
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: 2px;    
}
#cajaSuperior {
    width: 100vw; /* que ocupe el ancho de la pantalla */
    height: 100vh; /* para que sea cuadrada (igual a width) */
    background-image: url(imgs/fondo.jpg);
    background-size: contain; 
    padding: 20vw;
}

a {
    color: indianred;
    text-decoration: none;
}

#cajaCentral {
    height: 100vh;
    padding: 15vw;
}

h1 {
    font-size: 64px;
    line-height: 104px;
    font-weight: 100;
}

h2 {
    font-size: 18px;
    color: rosybrown;
}

p {
    font-size: 36px;
    line-height: 60px;
    font-weight: 100;
}

#cajaInferior {
    height: 100vh;
    background-color: black;
}

ul {
    list-style: none;    
    font-size: 50px;
    font-weight: 100;
    padding: 15vw;
    color: white;
}

li {
    padding: 10px;
}