.arriba{
    width: 80px;
    margin: 30px;
}

#cerradura{
    width: 80px;
    filter: grayscale(100%);
    margin: 30px;
}

#cerradura:hover{
    filter: none;
    transition:all .5s ease-in-out;
    
}

h1{
    text-align: justify;
    font-size: 50px;
    margin-left: 200px;
    font-family: Microbrew Soft One;
    color: #A68865;
    padding-top: 20px;
    padding-bottom: 30px;
}

.section{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    align-content: center;
}


div{
    width: 90%;
    margin: 3px;   
}

img{
    filter: grayscale(70%);
    display:block;
    transition: 
}

img:hover{
    filter: none;
    transition:all .5s ease-in-out;
}

.texto{
    transform: translate(0px, 0px)
}

#vector{
    width: 150px;
    height: 150px;
    position: absolute;
    opacity: 0.3
}

#vector:hover{
    opacity: 1;
    transition:all .5s ease-in-out;
}

.abajo{
    width: 150px;
    height: 150px;
    position: relative;
    background-size: 150px;
}

.abajo texto{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.abajo:hover{

    
}
